*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
# Release signing key (backup this file + keystore/release.jks yourself!)
/keystore.properties
/keystore/
